<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Active Bookings</h5>

          <div class="row">

            <div class="col-md-9">
              <a href="/bookings/new" class="btn btn-primary"><i class="bi bi-plus" style="font-size: 18px;"></i> New existing guest Booking</a>
              <a href="/bookings/booking_with_guest" class="btn btn-primary"><i class="bi bi-plus" style="font-size: 18px;"></i> New guest Booking</a>
            </div>

          </div>

          <div class="table-responsive mt-3">
            <table class="table">
              <tr>
                <th>Booking ID</th>
                <th>Room ID</th>
                <th>Guest ID</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Actions</th>
              </tr>
              <tbody>
              <% @bookings.where.not("end_date <= ?", Date.current).each do |booking| %>
                <tr>
                  <td><%= booking.id %></td>
                  <td><%= booking.room_id %></td>
                  <td><%= booking.guest_id %></td>
                  <td><%= booking.start_date %></td>
                  <td><%= booking.end_date %></td>
                  <td>
                    <a href="/bookings/<%= booking.id %>/edit" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <%= link_to  destroy_popup_booking_path(booking), data: { remote: true }, class: "btn btn-danger btn-sm" do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

      <div class="card mt-4">
        <div class="card-body">
          <h5 class="card-title">Past Bookings</h5>

          <div class="table-responsive mt-3">
            <table class="table">
              <tr>
                <th>Booking ID</th>
                <th>Room ID</th>
                <th>Guest ID</th>
                <th>Start date</th>
                <th>End date</th>
                <th>Actions</th>
              </tr>
              <tbody>
              <% @bookings.where("end_date <= ?", Date.current).each do |booking| %>
                <tr>
                  <td><%= booking.id %></td>
                  <td><%= booking.room_id %></td>
                  <td><%= booking.guest_id %></td>
                  <td><%= booking.start_date %></td>
                  <td><%= booking.end_date %></td>
                  <td>
                    <a href="/bookings/<%= booking.id %>/edit" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <%= link_to destroy_popup_booking_path(booking), data: { remote: true }, class: "btn btn-danger btn-sm" do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

