<section class="section">
  <div class="row">
    <div class="col-lg-12">

      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Rooms</h5>

          <div class="row">
           <div class="col-md-9">
             <a class="btn btn-primary" href="/rooms/new"> <i class="bi bi-plus" style="font-size: 18px;"></i> Add Room</a>
           </div>
          </div>

          <div class="table-responsive mt-3">
            <table class="table">
              <tr>
                <th>Room ID</th>
                <th>Room Type</th>
                <th>Room No</th>
                <th>Actions</th>
              </tr>
              <tbody>
              <% @rooms.each do |room| %>
                <tr>
                  <td><%= room.id %></td>
                  <td><%= room.room_type %></td>
                  <td><%= room.room_no %></td>
                  <td>
                    <a href="/rooms/<%= room.id %>/edit" class="btn btn-secondary btn-sm"><i class="bi bi-pencil-square"></i></a>
                    <%= link_to  destroy_popup_room_path(room), data: { remote: true }, class: "btn btn-danger btn-sm" do %>
                      <i class="bi bi-trash"></i>
                    <% end %>
                  </td>
                </tr>
              <% end %>
              </tbody>
            </table>
          </div>

        </div>
      </div>

    </div>
  </div>
</section>

